*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html body{
    height: 100%;
    overflow: hidden;
}

body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-image: url('space.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

h1{
    margin: 40px 0px;
    font-size: 40px;
    color: white;
}

#board{
    background-color: black;
    width: 512px;
    height: 512px;
}
@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }
    
    #board {
        width: 90vw;
        height: 90vw;
        max-width: 400px;
        max-height: 400px;
        display: block;
        margin: auto;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    #board {
        width: 90vw;
        height: 90vw;
        max-width: 300px;
        max-height: 300px;
        display: block;
        margin: auto;
    }
}

